*
{
  margin: 0;
}

.zero
{
  margin: 30px;
  padding: 10px;

  display: flex;
  flex-direction: row;
}
.one
{
  display: inline;
  width: 30%;
}
.two
{
  display: block;
  /*width: 800px; */
}
img
{
  width: 200px;
  height: 200px;
  border-radius: 50%;;
  float: right;
}
article{
  background-color: #D3D3D3;

}
